/*general setings*/

* {
    background-color: black;
    padding 0;
    margin: 0;
}
 
h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
 }

 p{
    font-family: 'Inter', sans-serif;
    
 }

/*header*/
#logo {
    width: 60px;
    height: 60px;
}

.main-btn {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    margin-right: 80px;
    padding: 5px 32px;
    width: 150px;
    height: 40px;
    text-decoration: none;
}

.main-btn:hover{
    color: black;
    background-color: #fff;
    

}

#nav-bar-button{

    text-decoration: none;


}


/* home area*/


.container-fluid{
    padding: 0;
    
}

.menu-img{
    background-image: url("/img/Rectangle 15.png") ;
    background-size: 100%;
    height: 90vh;
    margin-top: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: top center;
    
}

.menu-text h2 {
    font-size: 32px;
    letter-spacing: 0.1em;
    padding-top: 150px;
    
    margin-left:  184px;
    color: #fff;
    background-color: transparent;
    
}

.menu-text h3{
    font-size: 64px;
    letter-spacing: 0.1em;
    padding-top: 20px;
   
    margin-left:  184px;
    color: #fff;
    background-color: transparent;
}

.menu-text p {
    font-size: 20px;
    letter-spacing: 0.1em;
    padding-top: 20px;
    margin-bottom: 40px;
    margin-left:  184px;
    color: #fff;
    background-color: transparent;
    padding-right: 50%;
}


#menu-btn {
    border: 3px solid #fff;
    margin-top: 184px;
    margin-left:  184px;
    background-color: transparent;
    text-decoration: none;
}

#menu-btn:hover{
     background-color: #fff;
     color: black;
     border: 1px solid transparent;

}

/*title*/

.main-title{
    letter-spacing: 0.12rem;
    font-size: 40px;
    text-align: center;
    margin-top: 160px;
    color: #fff;
}

#title-area p {
    color: #fff;
    letter-spacing: 0.1rem;
    font-size: 20px;
    text-align: center;
    margin-top: 24px;
    
}

.time h4{
    
    float: left;

    
}

.bolder{
    font-weight: 700;
    font-size: 60px;
    letter-spacing: 0.12rem;
    margin-left: 560px;
    padding: 0;
    color: #fff;
}

.lighter{
    margin-top: 15px;
    font-weight: lighter;
    font-size: 16px;
    margin-left: 10px;
    color: #fff;
}

/*visual area identity*/

#visual-area{
    margin-top: 224px;
}

#visual-title h3 {
   font-size: 40px;
   font-weight: 500;
   line-height: 49px;
   letter-spacing: 0.12rem;
   color: #fff;
   margin-left: 29px;
}

#visual-text p{
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 00.1rem;
    text-transform: uppercase;
    color: #fff;
    margin-left: 40px;
}


.idv {
    transition: trasform .5s;
    width: 445px;
    height: 330px;
}

.idv:hover {
    transform: scale(1.1);
}

#call-to-idv{
    text-align: center;
    margin-top: 92px; 
    
}

#idv-btn{
    font-size: large;
    text-decoration: none;
    width: 131px;
    height: 44px;
    padding: 10px 16px;
    border-radius: 30px;
    border: 3px solid white;
    font-weight: bold;  
    
}

/*Social media area*/

#socialmedia-area {
    margin-top: 202px;
}


    


#social-title h3 {
   font-size: 40px;
   font-weight: 500;
   line-height: 49px;
   letter-spacing: 0.12rem;
   color: #fff;
   margin-left: 29px;
}

#social-text p {
    
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 00.1rem;
    text-transform: uppercase;
    color: #fff;
    margin-left: 40px;
}




.sm {
    transition: trasform .5s;
    width: 445px;
    height: 330px;
}

.sm:hover{
    transform: scale(1.1);
}

#call-to-sm{
    text-align: center;
    margin-top: 92px; 
    
}

#sm-btn{
    font-size: large;
    text-decoration: none;
    width: 131px;
    height: 44px;
    padding: 10px 16px;
    border-radius: 30px;
    border: 3px solid white;
    font-weight: bold;  
    
}